body{
    background-color: #141414;
}
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-flex;
    height: 321px;
    width: 247px;
    padding: 10px;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    margin: 16px;
    display: flex;
    padding: 10.054px;
    align-items: center;
    border-radius: 24px;
    border: 0.838px solid #FFF;
    background: linear-gradient(224deg, #F7F5FE 10.35%, #F7F5FE 97.41%);
    box-shadow: 0px 0px 1.676px 0px rgba(102, 112, 133, 0.24);
}
h5{
    color: transparent;
    display: flex;
    width: 134.892px;
    height: 20.108px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
   /*color: #2A323C;*/
    background: linear-gradient(90deg, #F20790 0.37%, #007AFF 43.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0.335px 0.335px 0px rgba(0, 0, 0, 0.09);
    font-family: Poppins;
    font-size: 13.405px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 5px;
    position: relative;
    bottom: 7px;
}
h6{
    white-space: nowrap;
    color: var(--Text-Secondary-TextColor, rgba(42, 50, 60, 0.64));
    font-family: Poppins;
    font-size: 10.054px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top: 10px;
    right: 73.5%;
}
#pfp{
    position: absolute;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    border-radius: 24px;
    top: 12px;
    left: 6px;
}
.team-name{
    display: flex;
    width: 191px;
    height: 40px;
    padding: 6px 10px 6px 6px;
    align-items: center;
    border-radius: 1000px;
    border: 0.838px solid rgba(255, 255, 255, 0.52);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.41) 100%);
    box-shadow: 0px 1.676px 1.676px 0px rgba(255, 255, 255, 0.25) inset, 0px -1.676px 1.676px 0px rgba(255, 255, 255, 0.25) inset;
    backdrop-filter: blur(26.810810089111328px);
    position: absolute;
    top: 77%;
    right: 12%;
}
#pfp2{
    visibility: hidden;
    object-fit: cover;
    position: relative;
    box-shadow: none;
}
.arrow-edge1{
    display: flex;
    width: 60px;
    height: 60px;
    padding: 10px;
    align-items: center;
    position: absolute;
    left: -19.811px;
    top: 39.838px;
    border-radius: 1000px;
    border: 0.838px solid #FFF;
    background: linear-gradient(224deg, rgba(247, 245, 254, 0.74) 10.35%, rgba(247, 245, 254, 0.74) 97.41%);
    backdrop-filter: blur(5.027027130126953px);
}
.arrow-edge2{
    display: flex;
    width: 40px;
    height: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 837.838px;
    background: #FFF;
    box-shadow: 0px 0px 6.703px 0px rgba(236, 9, 146, 0.12) inset, 0px 0px 6.703px 0px rgba(8, 119, 252, 0.12) inset;
}
.star{
    position: relative;
    top: 5%;
    align-self: center;
    z-index: 2;
    visibility: visible;
}
.arrow{
    color: transparent;
    background-image: linear-gradient(225deg,#F20790 40%, #0877FC 70%) ;
    position: absolute;
    z-index: 1;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 36px;
    border-radius: 50%;
    padding: 1px;
    border: 2px solid transparent;   
    transition: background-image 0.3s ease, transform 0.3s ease;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--full-radius, 1000px);
    visibility: hidden;
}
.icon{
    position: inherit;
    right: 77.21%;
    bottom: 9%;
}
.icon-after{
    visibility: hidden;
}
.wrapper:hover{
    .icon{
        visibility: hidden;
    }
    .icon-after{
        visibility: visible;
    }
}
.arrowborder::before {
    content: '';
    position: absolute;
    height: 38px;
    width: 38px;
    top: -2%;
    left: -3%;
    border-radius: 50%;
    padding: 1px; 
    background: linear-gradient(180deg, #F20790 5%, #0877FC 95%);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}
@keyframes arrow-animation {
    0% {
        color: white;
        opacity: 1;
    }
    65% {
        opacity: 0;
        color: white;
    }
    80% {
        color: white;
        transform: translateY(-40px) translateX(5px);
    }
    100% {
        color: white;
        opacity: 0;
    }
}
/*button:hover{
    .arrow{
        animation: arrow-animation 0.4s ;
        background-image: white;
        transition: color 0.5s ease;
    }
}*/
.wrapper:hover .arrow{
    color: white;
    transition: color 0s ease 0.9s;
    animation: arrow-animation 0.5s ease 0.4s;
        
}

.wrapper:hover button{
    animation: gradient-shift 1.5s ease ;
    background: linear-gradient(180deg, #F20790 5%, #0877FC 95%);
    background-position: 100% 50%;
    box-shadow: none;
    
}
.wrapper:hover{
    .arrow{
        visibility: visible;
    }
    .arrow-edge1{
        background-color: white;
        backdrop-filter: none;
    }
    button{
        visibility: visible;
    }
    .star{
        visibility: hidden;
    }
    
    h5{
        color: #2A323C; /* Change text color to black */
        background: none; /* Remove the gradient on hover */
        -webkit-text-fill-color: #2A323C;
    }
    #pfp2{
        visibility: visible;
    }
    #pfp{
        visibility: hidden;
    }
}
button {
    visibility: hidden;
    background: rgb(255, 255, 255);
    height: 38px;
    width: 38px;
    border-radius: 50%;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    border: none; 
    transition: background 1s ease 1s;
    box-shadow: 0px -4px 4px 0px #E3E3E3 inset, 0px -2px 2px 0px #FAFAFA inset, 0px 3px 4px 0px rgba(95, 95, 95, 0.10);
}
@keyframes gradient-shift {
    0% {
      background: white;
      background-position: 0% 50%;
    }
    100% {
        background: linear-gradient(180deg, #F20790 5%, #0877FC 95%);
        background-position: 100% 50%;
        box-shadow: none;
    }
}






